python-dotenv==1.1.1
pydantic==2.11.9
pydantic-settings==2.10.1

crewai==0.186.1

fastapi==0.116.1
uvicorn==0.35.0
streamlit==1.49.1

chromadb==1.0.21

langchain==0.3
langchain-community==0.3
langchain-core==0.3
langchain-text-splitters==0.3
langchain-huggingface==0.3

sentence-transformers>=3.0.0
transformers>=4.45.0
torch
unstructured
pypdf

langchain-groq